.hero {
   height: 100vh;
   position: relative;
   z-index: -1;
   background: url(../img/hero.jpg) top / cover;
   background-color: black;
   margin: 0;
   width: 100%;
}

// .triangle {
//     position: absolute;
//     bottom: -40px;
//     left: 47.5vw;
//     z-index: 2;
//     width: 75px;
//     height: 75px;
//     background-color: white;
//     transform: rotate(45deg);
//     border-radius: 5%;
// }
.hero2 {
    background: url(../img/hero2.jpg) top / cover;
    margin: 0;
    width: 100%;
}
.hero3 {
    background: url(../img/hero3.jpg) top / cover;
    margin: 0;
    width: 100%;
}
.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: 1;
}
.hero2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.422);
    z-index: 1;
}
.hero3:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.422);
    z-index: 1;
}
:root {
    --swiper-navigation-color:#fb8a00;
    --swiper-pagination-color:#fb8a00;
}
.h-box-text{
    position: relative;
    z-index: 4;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    
    h1{
        color: white;
        font-size: 80px;
        margin: 20px 0;
    }
    h3 {
        margin: 0;
    }
    .h-p {
        width: 800px;
        p {
            color: white;
            font-family: "Roboto", sans-serif;
            font-size: 1.2rem;
            line-height: 2rem;
            text-align: justify;
        }
    }
    @media (max-width: 768px) {
        padding-right: 50px;
        h1 {
            font-size: 38px;
        }
        .h-p {
            width: 100%;
        }
        
    }
}
