// Lenis
html.lenis {
    height: auto;
  }
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  .lenis.lenis-stopped {
    overflow: hidden;
  }
// Lenis End

body {
   width: 100vw;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow-x: hidden
}

a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
.link {
        color: white;
        transition: ease-in-out .5s;
        &:hover{
            color: rgba(255, 166, 0, 0.876);
            transition: ease-in-out .3s;
        }
       
}
* ul {
    list-style-type: none;
}
i:hover {
    color: rgba(255, 166, 0, 0.619);
}
.one {
    margin-top: 300px;
}
@media (max-width: 1050px) {
    .one {
        margin-top: 150px;
    }
}
section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1050px) {
    section {
        align-items: start;
        height: 120vh;
    }
    section:nth-of-type(2) {
        height: 300vh;
    }
}
.hero-page {
        height: 50vh;
        position: relative;
        z-index: -1;
        background: url(../img/hero.jpg) center / cover;
        background-color: black;
        margin: 0;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.292);
            z-index: 1;
        }
}

.title-page {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 50px;
        color: white;

    }
}
.wrapper {
    width: 80vw;
    margin: 50px auto;
}
.h3{
    color: orange;
    font-family: "Playfair Display", serif;
}
.h2 {
    color: black;
    font-family: "Playfair Display", serif;
    font-size: 24px;
}
.paragraph-big {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: justify;
}
.paragraph {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}
.btn-1 {
    border-radius: 25px;
    border: 0px solid rgba(255, 166, 0, 0.876);
    background-color: rgba(255, 166, 0, 0.876);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
        background-color: rgba(255, 166, 0, 0.68);
    }
    a {
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        color: white;
    }
}

// Back to top

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    padding: 15px;
    border-radius: 50%;
    z-index: 99;
    background-color: orange;
    border: none;
    cursor: pointer;
    &:hover{
        background-color: rgba(255, 166, 0, 0.833);
    }
    i {
        color: white;
    }
}


// JS REVEAL CLASSES

// .elementjs {
//     opacity: 0;
//     transform: translateY(100px);
//     transition: opacity 0.5s ease-out, transform 0.5s ease-out;
//     margin: 20px 0;
// }
// .elementjsright {
//     opacity: 0;
//     transform: translateX(250px);
//     transition: opacity 1s ease-out, transform 1s ease-out;
//     margin: 20px 0;
// }
// .elementjsleft {
//     opacity: 0;
//     transform: translateX(-250px);
//     transition: opacity 1s ease-out, transform 1s ease-out;
//     margin: 20px 0;
// }


// .reveal {
//     opacity: 1;
//     transform: translateY(0);
//     transform: translateX(0);
//     transition: opacity 0.5s ease-out, transform 0.5s
// }