// Section One

// .one{
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
.s1-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1050px) {
    .s1-container {
     flex-direction: column;
    }
  }
.s1-imgs {
    width: 37.5vw;
    height: 100vh;
    margin-right: 2.5vw;
    position :relative;
    img {
        border-radius: 5px;
    }
}
@media (max-width: 1050px) {
        .s1-imgs {
            width: 80vw;
            height: 50vh;
        }
    }
@media (max-width: 780px) {
        .s1-imgs {
            margin-bottom: -10vh;
        }
    }

.s1-txt{
    margin-left: 2.5vw;
    width: 37.5vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    p {
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: justify;
    }
}
@media (max-width:1050px) {
    .s1-txt {
        width: 80vw;
        justify-content: center;
        height: 80vh;
    }
  }

.s2{
    margin-left: 0;
    margin-right: 2.5vw;
}
.s3 {
    margin-left: 2.5vw;
    margin-right: 0;
}
.s1-img1{
    position: absolute; 
    z-index: -2;
    top: 2.5%;
    right: 0;
    width: 42%;
}
.s1-img2{
    position: absolute;
    z-index: -2;
    top: 18%;
    left: 0;   
    width: 42%;
}
.s1-img3{
    position: absolute; 
    z-index: -2;
    top: 2.5%;
    left: 0;
    width: 42%;
}
.s1-img4{
    position: absolute;
    z-index: -2;
    top: 18%;
    right: 0;  
    width: 42%;
}
.s1-form1{
    position: absolute;
    z-index: -3;
    top: 12%;
    right: 28.5%;   
    width: 41%;
    height: 37.5%;
    background-color: rgba(255, 166, 0, 0.876);
}
.s1-form2{
    position: absolute;
    z-index: -4;
    top: 9%;
    right: 24.5%;   
    width: 49.5%;
    height: 43.7%;
    background-color: rgba(255, 166, 0, 0.226);
}
.s1-form3{
    position: absolute;
    z-index: -3;
    top: 100px;
    left: 28.5%;   
    width: 41.5%;
    height: 38%;
    background-color: rgba(255, 166, 0, 0.876);
}
.s1-form4{
    position: absolute;
    z-index: -4;
    top: 75px;
    left: 24.5%;   
    width: 49.5%;
    height: 43.7%;
    background-color: rgba(255, 166, 0, 0.226);
}

.two {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-left: -3%;
}

.two-img-box {
    cursor: pointer;
    img {
        height: 35vh;
        width: 15vw;
        object-fit: cover;
        object-position: center;
        border-radius: 5px 5px 0 0;
    }
    &:hover img {
            opacity:0.9;
    }
    .two-text {
        border-radius: 0 0 5px 5px;
        a {
            font-family: "Roboto", sans-serif;
            color: black;
            transition: ease-in-out .5s;
            &:hover{
                color: orange;
                transition: ease-in-out .5s;
            }
        }
    }
}
.two-img-box .two-text {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100px;
    overflow: hidden;
}
.two-img-box .two-title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 166, 0, 0.065);
    transition: .5s;
    border-radius: 0 0 5px 5px;
    a {
        line-height: 25px;
       
    }
}
.two-img-box:hover .two-title {
    top: -100px;
}

.two-img-box .two-fade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
    transition: .5s;
    
    i {
        font-size: 20px;
        color: white;
        transition: .3s;
        &:hover {
            color: black;
            transition: .3s;
        }
    }
}

.two-img-box:hover .two-fade {
    top: 0;
}
@media (max-width: 1050px) {
    .two {
     flex-direction: column;
    }
    .two-img-box {
        margin-top: 10vh;
        img {
            height: 50vh;
            width: 80vw;
        }
    }
  }